<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset=UTF-8">
</head>
<body>
Du er blevet oprettet i BoilerPlate.<br>
Dit brugernavn: {{username}}.<br>
Dit kodeord: {{password}}.<br>
</body>
</html>

